.fixed-top {
	background: transparent;
}
 .jumbotron {
    position: relative;
    background: url("images/head.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.navbar-nav:hover {
	color: #543d79;
	font-style: bold; 
}